@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin setEqualMargin ($interval: '1rem', $type: 'right') {
  & > *:not(:last-child) {
    margin-#{$type}: $interval;
  }
}